/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";  

.side-nav{
    width: 200px;
     overflow-Y: hidden !important; 
    background: rgb(33, 33, 33);
}

.nav-content{
    color: #ffffff;
}